{% extends 'registration/basereglog.html' %}
{% load static %}
{% block css %}
{% endblock  %}

{% block js %}
<script src="{% static 'core/js/loginnombre.js'%}"></script>
{% endblock  %}


{% block login %}



<div class="form">
<form action="" method="post" id="form" class="form">
  <h2>   Inicia sesión</h2>
  <label for="tx_name"><h6>Nombre</h6></label>
  <br>
  <input  class="input" type="name" id="name">
  <br>
  <br>
<label for="tx_pass"><h6>Contraseña</h6></label>
<br>
<input class="input" type="password" name="pass" id="pass">
<br>
<button type="submit">login</button>
<br>
  <a href="" class="forgetpw">¿olvidaste tu contraseña?</a>
  <br>
  <h6 class="registrarcuenta">¿No tienes cuenta?</h6>
  <a href="register.html" class="crearcuenta">Registrate</a>
  <p class="warnings" id="warnings"></p>
</form>
</div>
{%endblock login%}