<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="style.css">
    <title>Maceteao - Artículos para jardín</title>
    <link rel="icon" type="image/x-icon" href="img/flor.png" >
</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-dark" style="background-color: 	#008000;">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="img/logo.png" alt="Maceteao" width="80" height="80" class="d-inline-block" >
              </a>
              <span class="navbar-brand">
                <h1 class="display-6"><b>Maceteao</b></h1>
              </span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" 
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100x; margin-left: 20px; ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="productos.html">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="quienes_somos.html">Quienes somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="api.html">Gatitos</a>
              </li>
              <li class="nav-item">
                
                
              </li>
              
            </ul>
            
            <form class="d-flex">
              <a href="login.html">
              <button type="button" class="btn btn-success">Login</button>
              </a>
              <form class="d-flex">
                <a href="register.html">
                <button type="button" class="btn btn-danger">Registrar</button>
                </a>
              <a href="comprar.html" class="nav-link">
                <img src="img/carrito.png" alt="carrito">
              </a>
              <input class="form-control me-3" type="search" placeholder="Encuentra tu producto" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>

      <body>
      
        <div class="container-lg my-5 shadow-sm p-3 bg-body rounded" id="AA">
                
          <center><h2 class="p-3 mt-3">INSERTAR DATOS</h2></center>
          <hr class="my-2">
            <form class="needs-validation" action="" novalidate>
              
              <div class="row g-3 p-3 justify-content-around">
                  
                <div class="col-md-6 my-3">
                     
                    <label for="nombres" class="form-label">Nombres o razón social</label>
                    <input type="text" class="form-control" placeholder="Nombres completos" >
                    <div class="invalid-feedback">
                      Debe ingresar los nombres o su razón social
                    </div>
                    </div>
      
                <div class="col-md-6 my-3">
                    
                     <label for="apellido" class="form-label">Apellidos</label>
                      <input type="text" class="form-control" placeholder="Apellidos completos" required>
                      <div class="invalid-feedback">
                        Debe ingresar los apellidos
                      </div>
                      </div>
            
          
              <div class="col-md-6 my-3">
                <label for="RUT" class="form-label">RUT</label>
                <input type="RUT" class="form-control" name="RUT" placeholder="RUT con puntos y guión" required>
                <div class="invalid-feedback">
                  RUT
                </div>
               </div>
              
               
                <div class="col-md-6 my-3">
               <label for="phone" class="form-label">Fono</label>
                <input class="form-control" type="tel" minlength="9" maxlength="12" id="Número de teléfono"  name="Número de teléfono"  placeholder="+56 9 XXXX XXXX    " required>
                <div class="invalid-feedback">
                    Número de teléfono
                </div>
            </div>
      
              <div class="col-md-6 my-3">
              <label for="dire" class="form-label">E-Mail</label>
              <input type="text" class="form-control" name="E-Mail" placeholder="E-Mail" required>
              <div class="invalid-feedback">
                E-Mail
              </div>
              </div>
      
              <div class="col-md-6 my-3">
              <label for="comuna" class="form-label">Validar E-Mail</label>
              <input type="text" class="form-control" name="Validar E-Mail" placeholder="Validar E-Mail" required>
              <div class="invalid-feedback">
                Validar E-Mail
              </div>
              </div>
              
      
                <div class="col-md-6 my-3"> 
              <label for="ciudad" class="form-label">Comuna</label>
              <input type="text" class="form-control" name="Comuna" placeholder="Comuna" required>
              <div class="invalid-feedback">
                Comuna
              </div>
              </div>

              <div class="col-md-6 my-3"> 
                <label for="ciudad" class="form-label">Región</label>
                <input type="text" class="form-control" name="Region" placeholder="Región" required>
                <div class="invalid-feedback">
                    Región
                </div>
                </div>

                <div class="col-md-6 my-3"> 
                    <label for="ciudad" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" name="Ciudad" placeholder="Ciudad" required>
                    <div class="invalid-feedback">
                      Ciudad
                    </div>
                    </div>
              
              <div class="col-md-6 my-3">
                <label class="form-label">Seleccionar tipo de documento</label>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="opc" id="dud" value="duda" required>Boleta
                  </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="opc" id="rec" value="reclamo" >Factura
                    </label>
                    
                  </div>

                  <div class="col-md-6 my-3">
                    <label class="form-label">Seleccionar tipo de entrega</label>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="opc" id="dud" value="duda" required>Retiro inmediato en tienda
                      </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="opc" id="rec" value="reclamo" >Despacho a domicilio
                        </label>
                        
                      </div>
                
              </div>
              
              <hr class="my-2">
      
              <div class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Producto deseado
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Macetas</a></li>
                    <li><a class="dropdown-item" href="#">Mangueras</a></li>
                    <li><a class="dropdown-item" href="#">Guantes</a></li>
                    <li><a class="dropdown-item" href="#">Herramientas</a></li>
                    <li><a class="dropdown-item" href="#">Porta Mangueras</a></li>
                    <li><a class="dropdown-item" href="#">Tijeras</a></li>
                    <li><a class="dropdown-item" href="#">Semillas</a></li>
                    <li><a class="dropdown-item" href="#">Tierras</a></li>
                </ul>
            </div>
            
              <div class="col-md-4">
                <center>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="tyc" required>
                  <label class="form-check-label" for="tyc">
                    <a href="https://www.wonder.legal/cl/modele/terminos-condiciones-generales?msclkid=821f53671d0b1994168631cd180b734c"  > 
                      Acepto términos y condiciones de Maceteao</a>
                  </label>
                  <div class="invalid-feedback">
                    AA
                  </div>
                </div>
              </center>
              </div>
                
      
              
                
                  <button class="btn btn-primary" type="submit" required>COMPRAR</button>
                
                  <h6 style="text-align: center">Al presionar <kbd>"Acepto términos y condiciones de Maceteao"</kbd> Está dando el derecho a la tienda de la venta<h6/>
              </div>
            </form>
            
           
            </div>
      
      </body>
      
    <footer class="container-fluid-lg text-center">

      <div class="row justify-content-around text-light">

        <div class="col-md-4 my-auto">
        
            <h3>Desarrollado por:</h3>
            
            <h6>Pedro San Martín <br>
            Camilo Silva <br>
            Luis Salamanca</h6>
            <br>
            <h5>2022 &copy Todos los derechos reservados</h5>
        
      </div>
        
      <div class="col-md-2 my-auto">
        <img src="img/logo.png" alt="Tiendita" height="150px" >
      </div>

      <div class="col-md-2 my-auto">

        <div class="row">
          <div class="col-5 icon bg-gradient m-3">
                <a href="https://www.facebook.com/Maceteao-106967318648757" alt="fb" class="text-reset"><i class="bi bi-facebook"></i>
                </a>
        </div>
    
        <div class="col-5 icon bg-gradient m-3">
                <a href="https://twitter.com/MaceteaoJ" alt="fb" class="text-reset"><i class="bi bi-twitter"></i>
                </a>
             
        </div>
        
        </div>
        
        <div class="row">
          <div class="col-5 icon bg-gradient m-3">
                <a href="https://www.instagram.com/maceteaoj/" alt="fb" class="text-reset"><i class="bi bi-instagram"></i>
                </a>
          </div>      
      
        <div class="row">
          <div class="col-5 icon bg-gradient m-3">
               <a href="https://www.youtube.com/channel/UC9KNTXNAXrCTZnNxFkfCqnw" alt="fb" class="text-reset"><i class="bi bi-youtube"></i>
               </a>

       </div> 

      
      
      </div>

    </footer>
      

    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>