{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/style.css'%}">
<link rel="stylesheet" href="{% static 'core/bootstrap/css/bootstrap.min.css'%}" >
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">


{% endblock  %}
{% block js %}
<script src= "{% static 'core/bootstrap/js/bootstrap.min.js'%}"></script>

{% endblock  %}


{% block  cindex %}
      <div id="carrusel" class="container-lg shadow-sm p-3 mb-5 bg-body rounded">   
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="{% url 'productos' %}">
                <img src="{% static 'core/img/maceta.jpg' %}" class="d-block w-100" alt="Macetas">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5>Accesorios, productos, variedad, objetos de todo tipo</h5>
                <p>Macetas de diversos colores y tamaños donde puedes sin problemas poner tus tierras y plantar semillas. Tierras adaptables a las semillas que desees plantar. Una amplia variedad de semillas, con montones de colores, flores, plantas, arbustos, etc. </p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="{% url 'quienes_somos' %}">
                <img src="{% static 'core/img/tierra.jpg' %}" class="d-block w-100" alt="Tierras">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5>¿Quiénes somos?</h5>
                <p>Conócenos más a nosotros y nuestra tienda.</p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="productos.html">
                <img src="{% static 'core/img/Semillas-330x205.jpg' %}" class="d-block w-100" alt="Semillas">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5>Productos por todo el mes</h5>
                <p>Aprovecha estos productos que se hacen en días festivos cada mes.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>

    </div>

    <div id="info" class="container">

      <div class="row justify-content-around aling-items-end">
        <div class="col-lg-7 shadow-sm p-3 bg-body rounded my-auto">

          <div class="row g-0">
            <div class="col-lg-4">
              <img src="{% static 'core/' %}img/tienda.jpg" class="img-fluid rounded-start" alt="Tienda">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title">Sorpréndete con la variedad</h5>
                <p class="card-text">
                  Tenemos una inmesurable cantidad de semillas, hojas, plantas, flores, tierras, lo que se te pueda ocurrir,
                  todo para que puedas decorar tu casa y pintar tu jardín más de verde con nuestros fabulosos productos
                  a tu gusto, encima actualizamos cada semana tanto en nuestras redes sociales como en nuestra página todo lo que se vendrá.
                </p>
                <p class="card-text"><small class="text-muted">
                  Pronto, podrás acceder a todos nuestros productos desde nuestra web.
                </small></p>
              </div>
            </div>
          </div> 
        </div>

        <div class="col-lg-4 shadow-sm p-3 mb-5 bg-body rounded">
          <div class="card-header">
            Entrevista a alcalde de concepción sobre nuestro jardín
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>La comunidad penquista ha aceptado con mucha amabilidad y ganas este jardín coordinado por 3 jóvenes de la ciudad que se ven 
                con este proyecto con muchas ganas y futuro. La verdad se necesitaba algo así desde hace mucho tiempo, ya que hay muchas 
                comunas con jardines hermosos potenciales que se les ve desde afuera, pues en esta tienda podrán encontrar sus accesorios.
              </p>
              <div class="footer">Alexis Sánchez para <cite title="Source Title">La estrella</cite></div>
            </blockquote>
          </div>
        </div>
      </div>

    </div>
    {% endblock cindex  %}