{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/style.css'%}">
<link rel="stylesheet" href="{% static 'core/bootstrap/css/bootstrap.min.css'%}" >
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
{% endblock %}

{% block quienes_somos%} 
<body>
  <div class="container-lg justify-content-around text-center">
    <div class=" shadow-sm p-3 bg-body rounded my-auto">
  <section class="foto de arriba">
  <img src=" {% static 'core/img/banner.jpg'%}" class="img-fluid" alt="" class="banner__img">
  </section>
  <main class="main">
  <section class="group group--color">
    <div class="container">
      <h2 class="main__title">
        ¿Quiénes somos? <em> Maceteao</em>
      </h2>
      <p class="main__txt">
       <em>  Te invitamos cordialmente a leer sobre nosotros.</em>
      </p>
    </div>
  </section>
</div>
  <div class="card-group"> 
    <div class="card">
      <img src=" {% static 'core/img/florecita.png' %}" class="img-fluid card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">NUESTRO OBJETIVO</h5>
        <p class="card-text">La misión de nuestra tienda es poder entregarle a los jardines de Concepción los mejores productos para sus jardines, y así satisfacerlos con una gran variedad de productos, aparte con el dinero que ganemos con las suscripciones plantaremos árboles en el parque  <em>"Ecuador"</em> ¡Dónde hay un hermoso espacio verde para plantar árboles!</p>
        <a href="https://youtu.be/vv4ZM9Ts2lo?t=86" amigales class="btn btn-primary">Vídeo referencial</a>
      </div>
    </div>

    <div class="card">
      <img src=" {% static 'core/img/condominio.jpg' %}" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Conoce nuestra instalación</h5>
        <p class="card-text">Por el momento no contamos con una gran tienda, ya que el presupuesto no nos alcanzó, pero con la tienda chiquita que tenemos estamos de lujo, ya que contamos con un gran patio donde poner los productos bien frescos, y la parte de la cajera para entregarlos a mano. <u><strong> cuenta con todos los aspectos necesarios para mantener la calidad e higiene de nuestros productos, hay que cuidarse del COVID-19</strong> </u>siempre nuestra prioridad será la seguridad de nuestros clientes y productos, para que todo esté en óptimas condiciones.</p>
        
      </div>
    </div>
    <div class="card">
      <img src=" {% static 'core/img/integrantes.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Conoce nuestras integrantes </h5>
        <p class="card-text">Nuestro equipo está conformado por 3 amantes de las plantas, Peter San Martín<em> fundador principal</em>, Louis Salamancuvich <u> cajero, vendedor</u> Connor Silva <u> entrega pedidos en moto</u></p>
        
      </div>
    </div>
  </div>
  </div>
  


  {% endblock quienes_somos%}

