body {
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../img/1291273.jpeg");
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer i {
    font-size: 30px;
}

.carousel-caption {
    background-color: rgb(202, 101, 16, 0.7);
    border-radius: 1rem;
}

#carrusel {
    margin: 30px auto 30px;
}

#pass {
    border: 0.5px solid sienna;
    color: white;
}

#name {
    border: 0.5px solid sienna;
    color: white;
}

#email {
    border: 0.5px solid sienna;
    color: white;
}

#confpass {
    border: 0.5px solid sienna;
    color: white;
}
#prices {
    border: 0.5px solid sienna;
    color: white;
}
#names {
    border: 0.5px solid sienna;
    color: white;
}
#descr {
    border: 0.5px solid sienna;
    color: white;
}
#stock {
    border: 0.5px solid sienna;
    color: white;
}

.form {
    font-family: 'Secular One', sans-serif;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background: rgba(5, 7, 12, 0.40)
}
.input {
    background: rgba(5, 7, 12, 0.30)
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding-top: 20px;
}
h2 {
    font-family: 'Secular One', sans-serif;
    font-size: large;
    color: white;
}
label {
    font-family: 'Secular One', sans-serif;
    font-size: small;
    color: white;
}
li
{
    font-family: 'Secular One', sans-serif;
    font-size: large;
    color: white;

}
.helptext{
    font-family: 'Secular One', sans-serif;
    font-size: large;
    color: white;
}